# Dependencies
node_modules

# Build output
dist
dist-ssr

# Environment files
src-tauri/.env
*.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
Thumbs.db
Desktop.ini

# Debug files
*.pdb

# Misc
target-list.txt
tauri-info.txt
